<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
<div class="wrapper">
	<div class="content">

  <%= require('html-loader!./template/header.html') %>

		<!--block1-->
		<div class="block1 wd12" id="block1">
			<h1>Activation</h1>
			<div class="row-no-gutters settingsblock">

			<div class="col2">
				<div class="setline">
					<span class="span">Activated to: </span><a id="txt_device_domain">Loading ...</a>
				</div>
				
				<div class="setline">
					<span class="span">You can assign different<br>domain name to your device</span>
					<div class="spandiv">
						<button class="buttonblue bwidth smbutton" id="btn_reactivate">Reactivate</button>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>

<%= require('html-loader!./template/error.html') %>

</body>
</html>
