<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
	<div class="wrapper">
		<div class="content">
			<%= require('html-loader!./template/header.html') %>

			<!--Login_block1-->
			<div class="block1 wd12" id="block_app">
			</div>
		</div>
	</div>

	<%= require('html-loader!./template/error.html') %>

    <div id="app_action_confirmation" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span id="confirm_caption"></span></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="app_id" value=""/>
                    <input type="hidden" id="app_action" value=""/>
                    <input type="hidden" id="app_action_url" value=""/>
                    <input type="hidden" id="app_action_status_url" value=""/>
                    <div class="bodymod">
                        <div class="btext">
                            Are you sure?
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close
                        </button>
                        <button type="button" id="btn_confirm" class="btn buttonlight bwidth smbutton"
                                data-dismiss="modal">OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div id="backup_confirmation" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Backup</h4>
                </div>
                <div class="modal-body">
                    <div class="bodymod">
                        <div class="btext">
                            This will backup app settings excluding files uploaded to the disk storage.<br>
                            Later you can restore it from Settings - Backup<br>
                            Are you sure?
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close
                        </button>
                        <button type="button" id="btn_backup_confirm" class="btn buttonlight bwidth smbutton"
                                data-dismiss="modal">OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
