<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
<div class="wrapper">
    <div class="content">

        <%= require('html-loader!./template/header.html') %>

        <div class="wd12" id="block1">
            <div CLASS="block1" style="padding: 50px 0 0 0;">
                <h1>Backup</h1>
            </div>
            <div class="row-no-gutters settingsblock">

                <div id="backupGrid" style="width: 100%; height: 100%" class="ag-theme-balham"></div>

            </div>

        </div>


    </div>
</div>

    <%= require('html-loader!./template/error.html') %>

</body>
</html>
