<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
<div class="wrapper">
	<div class="content">
 
 <%= require('html-loader!./template/header.html') %>

		<!--block1-->
		<div class="block1 wd12" id="block1">
			<h1>Network</h1>
			<div class="row-no-gutters settingsblock">

                <div class="col2">

                    <h3>Local</h3>
                    <div class="setline">
                        <div id="block_network"></div>
                    </div>

                </div>

                <div class="col2">

                    <h3>Router</h3>

                    <div class="setline">
                        <span class="span">External Access:</span>
                        
				                     	
                        <div class="spandiv">
                            <input type="checkbox" id="tgl_external" data-on-text="ON" data-off-text="OFF" data-label-width="8"/>
                            <i class="fa fa-circle-o-notch fa-spin switchloading opacity-invisible" id="tgl_external_loading"></i>
                        </div>
                        
                        <button data-toggle="modal" data-target="#help_external_access" type=button style=" background:transparent;">
				                      		<i class='fa fa-question-circle fa-lg'></i>
				                     	</button>
                    </div>
                    <div id="external_block" style="display: none">
                        <div class="setline">
                            <span class="span">Auto detect IP:</span>
                            <div class="spandiv">
                                <input type="checkbox" id="tgl_ip_autodetect" data-on-text="ON" data-off-text="OFF" data-label-width="8"/>
                                <i class="fa fa-circle-o-notch fa-spin switchloading opacity-invisible" id="tgl_ip_autodetect_loading"></i>
                            </div>
                        </div>

                        <div class="setline">
                            <span class="span">Public IP:</span>
                            <input name="public_ip" id="public_ip" type="text"
                                   style="width: 150px; height: 30px; padding: 0 10px 0 10px">
                        </div>

                        <div class="setline">
                            <h3>External ports</h3>
                        </div>

                        <div class="setline">
                            <span class="span">Auto mode (UPnP):</span>
                            <div class="spandiv">
                                <input type="checkbox" id="tgl_upnp" data-on-text="ON" data-off-text="OFF" data-label-width="8"/>
                                <i class="fa fa-circle-o-notch fa-spin switchloading opacity-invisible" id="tgl_upnp_loading"></i>
                                <button id="upnp_warning" data-toggle="modal" data-target="#help_upnp_warning" type=button style="background:transparent;">
                                    <i class='fa fa-exclamation-circle fa-lg' style='color: red;'></i>
                                </button>
                            </div>
                        </div>

                        <div class="setline">
                            <span class="span">External certificate
                                <span style='white-space: nowrap;' > HTTP port 80:
                                    <input name="certificate_port" id="certificate_port" type="text"
                                           style="width: 80px; height: 30px; padding: 0 10px 0 10px">
                                    <button id="certificate_port_warning" data-toggle="modal" data-target="#help_certificate_port_warning" type=button style="background:transparent;">
                                        <i class='fa fa-exclamation-circle fa-lg' style='color: red;'></i>
                                    </button>
                                </span>
                            </span>
                            
                        </div>

                        <div class="setline">
                            <span class="span">External access
                                <span style='white-space: nowrap;' > HTTPS port 443:
                                    <input name="access_port" id="access_port" type="text"
                                           style="width: 80px; height: 30px; padding: 0 10px 0 10px"/>
                                    <button id="access_port_warning" data-toggle="modal" data-target="#help_access_port_warning" type=button style="background:transparent;">
                                        <i class='fa fa-exclamation-circle fa-lg' style='color: red;'></i>
                                    </button>
                                </span>
                            </span>
                        </div>

                    </div>
   
                   <div class="setline">
                         <div class="spandiv">
                               <button class="submit buttongreen" id="btn_save" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Working..." style="width: 150px">Save</button>
                         </div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
</div>

<%= require('html-loader!./template/error.html') %>

<div id="help_certificate_port_warning" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Certificate warning</h4>
			</div>
			<div class="modal-body">
				<div class="bodymod">
					<div class="btext">
						Certificate can only be obtained if external port is 80.
    It is only used for certificate validation purposes.
   </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="help_access_port_warning" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Access port warning</h4>
			</div>
			<div class="modal-body">
				<div class="bodymod">
					<div class="btext">
						Access port is not default 443.
    You may not be able to access your device from networks with strict firewalls allowing only port 443.
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="help_upnp_warning" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">UPnP is not available</h4>
			</div>
			<div class="modal-body">
				<div class="bodymod">
					<div class="btext">
						Your router does not have port mapping feature enabled.
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="help_external_access" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">External access</h4>
			</div>
			<div class="modal-body">
				<div class="bodymod">
					<div class="btext">
						External access is used for two things:
    <br><br>
    1. Allow syncloud.it device DNS to use public IP. By default it uses internal IP to allow DNS based app access inside local network.
    <br>
    2. Maintain UPnP (auto) port mappings.
    <br><br>
    External access will not change device itself ports, they are always 80 and 443.
    <br><br>
    Syncloud.it DNS service verifies open ports (internet accessibility) before enabling external access for convenience.
    <br><br>
    In case of custom domain name external access page should not be used.
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
