<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
<div class="wrapper">
	<div class="content">
 
 <%= require('html-loader!./template/header.html') %>
	
	<!--block1-->
		<div class="block1 wd12" id="block1">
			
  <h1>Settings</h1>

			<div class="row-no-gutters settingsblock">
	
	 		<div class="colapp app">
					<a href="activation.html" class="app-link">
						<div class="appminimg activation-img"></div>
						<div class="setting-name"><span class="withline">Activation</span></div>
					</a>
				</div>

				<div class="colapp app">
					<a href="network.html" class="app-link">
						<div class="appminimg network-img"></div>
						<div class="setting-name"><span class="withline">Network</span></div>
					</a>
				</div>

				<div class="colapp app">
					<a href="storage.html" class="app-link">
						<div class="appminimg storage-img"></div>
						<div class="setting-name"><span class="withline">Storage</span></div>
					</a>
				</div>

				<div class="colapp app">
					<a href="updates.html" class="app-link">
						<div class="appminimg updates-img"></div>
						<div class="setting-name"><span class="withline">Updates</span></div>
					</a>
				</div>

				<div class="colapp app">
					<a href="support.html" class="app-link">
		   <i class="material-icons settings-icon" >help_outline</i>
	
						<div class="setting-name"><span class="withline">Support</span></div>
					</a>
				</div>

				<div class="colapp app">
					<a href="backup.html" class="app-link">
    <i class="material-icons settings-icon">dns</i>
	    
    	<div class="setting-name"><span class="withline">Backup</span></div>
					</a>
				</div>

			</div>
		</div>
	</div>
</div>

</body>
</html>
