<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Syncloud</title>
	<meta name="author" content="syncloud.org">
	<meta name="description" content="Your Personal Server">
	<meta name="keywords" content="Your Personal Server">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="width" />
	<meta content="yes" name="apple-mobile-web-app-capable" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#64bc46">
	<meta name="theme-color" content="#3e454e">

  <script type="text/javascript" src="js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="js/lib/URI.js"></script>

	<link rel="stylesheet" href="css/site.min.css" type="text/css">
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

	</head>	
<body>
<div class="wrapper">
	<div class="content">
	<!--HEADER-->
		<div class="headblock">
			<header class="wd12">
				<div class="logo">Syncloud</div>
				<div class="menulinks">
					<a href="index.html" class="apps hlink">Apps</a>
					<a href="appcenter.html" class="appcenter hlink">App Center</a>
					<a href="settings.html" class="settings hlink active">Settings</a>
				</div>
				<div class="menuoff">
					<a href="#" id="btn_logout_large" class="logout hlink">Log out</a>
					<div class="dropdowncontainer hlink">
						<a href="#" class="shutdown dropdown hlink" onclick="dropdown()">Shutdown</a>
						<div id="myDropdown" class="dropdown-content">
						<a href="#" id="btn_restart_large">Restart</a>
						<a href="#" id="btn_shutdown_large">Shutdown</a>
						</div>
					</div>
				</div>
				<div class="menubutton">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</header>
			<div class="navi">
				<a href="index.html">Apps</a>
				<a href="appcenter.html">App Center</a>
				<a href="settings.html">Settings</a>
				<div class="menucolor2">
				<a href="#" id="btn_logout_small">Log out</a>
				<a href="#" id="btn_restart_small">Restart</a>
				<a href="#" id="btn_shutdown_small">Shutdown</a>
				</div>
			</div>
		</div>
		<!--block1-->
		<div class="block1 wd12" id="block1">
			<h1>Settings</h1>
			<div class="row settingsblock">
				<div class="col2">
					<h3>Activation</h3>
					<div class="setline">
						<span class="span">Activated to: </span><span id="txt_device_domain"></span>
					</div>
					<div class="setline">
						<span class="span">You can assign different<br>domain name to your device</span><div class="spandiv"><button class="buttonblue bwidth smbutton" id="btn_reactivate">Reactivate</button></div>
					</div>
					<h3>Access</h3>
					<div class="setline">
						<span class="span">External Access:</span>
						<div class="spandiv">
							<input type="checkbox" id="tgl_external" data-on-text="ON" data-off-text="OFF" data-label-width="8"/>
							<i class="fa fa-circle-o-notch fa-spin switchloading opacity0" id="tgl_external_loading"></i>
						</div>
					</div>
					<div class="setline">
						<span class="span">Access Protocol:</span>
						<div class="spandiv">
							<input type="checkbox" id="tgl_protocol" data-on-text="HTTPS" data-off-text="HTTP" data-label-width="8"/>
							<i class="fa fa-circle-o-notch fa-spin switchloading opacity0" id="tgl_protocol_loading"></i>
						</div>
					</div>
					<h3>Storage</h3>
					<div id="block_disks">
					</div>
				</div>
				<div class="col2">
				<h3>Updates</h3>
					<div class="setline">
						<button class="buttongreen bwidth smbutton btn-lg" id="btn_check_updates" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Checking...">Check for updates</button>
					</div>
					<div class="setline">
						<span class="span">Current system version: </span><span id="txt_platform_version"></span>
						<div id="block_system_upgrade" style="display: none">
							<span class="span">Available version: </span><span id="txt_system_version_available"></span>
							<div class="spandiv">
								<button class="buttongreen bwidth smbutton btn-lg" id="btn_platform_upgrade" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Upgrading...">Upgrade</button>
							</div>
						</div>
					</div>
					<div class="setline">
						<span class="span">Current installer version: </span><span id="txt_sam_version"></span>
						<div id="block_sam_upgrade" style="display: none">
							<span class="span">Available installer version: </span><span id="txt_sam_version_available"></span>
							<div class="spandiv">
								<button class="buttongreen bwidth smbutton btn-lg" id="btn_sam_upgrade" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Upgrading...">Upgrade</button>
							</div>
						</div>
					</div>
					<h3>Feedback</h3>
					<div class="setline">
						<span class="span">Report Issue:</span><div class="spandiv"><button class="buttonblue bwidth smbutton" id="btn_send_logs" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending...">Send logs</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--footer-->
	<div class="footerblock">
		<footer class="wd12">
				<div class="contacts">
					<a href="mailto:syncloud@syncloud.it" class="link_mail"></a>
					<a href="https://www.facebook.com/Syncloud-1502965600014317" target="_blank" class="link_facebook" onClick="_gaq.push(['_trackEvent', 'Landing', 'click', 'facebook']);"></a>
				</div>
				<div class="links">
					<a href="faq.html">FAQ</a>
					<a href="about.html">About</a>
				</div>
				<div class="copyrights">Copyright ©2015 Syncloud, Ltd. All Rights Reserved.</div>
				<a href="http://feelspace.ru" target="_blank" class="feelink">Designed by: <font>feelspace.ru</font></a>
		</footer>
	</div>
</div>
<!--<div class="loadingblock" id="loadingblock">-->
	<!--<div class="spanloading"><i class="fa fa-circle-o-notch fa-spin switchloading" id="tgl_page_loading"></i>Loading...</div>-->
<!--</div>-->

<div id="block_error" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
          <div class="bodymod">
              <div id="txt_error" class="btext">Some error happened!</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- Create your template -->
<script type="text/html" id='template-disks'>

    <%
		var index = 0;
		if (disks.length == 0) {
    %>

		<span class="span">No disk found</span>

    <% } %>

    <%
    for (i=0; i < disks.length; i++) {
				var disk = disks[i];
    %>

		<div class="setline">
				<span class="span"><%= disk.name %></span>
    </div>

    <%
				partitions = disk.partitions;
				for (j=0; j < partitions.length; j++) {
				var partition = partitions[j];
    %>

		<div class="setline">
				<span class="span"><%=partition.device %> (<%=partition.size %>)</span>
				<div class="spandiv">
						<input type="checkbox" id="tgl_device_<%=index%>" data-index="<%=index%>" data-device="<%=partition.device %>" data-on-text="Active" data-off-text="Not active" data-label-width="8" <% if (partition.active) { %>checked<% } %> />
						<i class="fa fa-circle-o-notch fa-spin switchloading opacity0" id="tgl_device_<%=index%>_loading"></i>
				</div>
		</div>

    <%
				index = index + 1;
				}
		%>

    <% } %>
</script>

<!-- Scripts-->
<script src="js/lib/jquery-1.11.3.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/bootstrap-switch.min.js"></script>
<script src="js/ui/font.js"></script>
<script src="js/ui/common.js"></script>
<script src="js/ui/menu.js"></script>

<script type="text/javascript">

function ui_display_toggles() {
	$("[type='checkbox']").each(function() {
		$(this).bootstrapSwitch();
	});
}

ui_display_toggles();

function ui_display_disks(data) {
		var template = $("#template-disks").html();
		$("#block_disks").html(_.template(template)(data));
		ui_display_toggles();

		$("#block_disks").find("[type='checkbox']").each(function() {
				var tgl_device = $(this);
				$(this).on('switchChange.bootstrapSwitch', function(event, state) {
						var state = tgl_device.bootstrapSwitch('state');
						var disk_device = tgl_device.data('device');
						var device_index = tgl_device.data('index');

						$("#block_disks").find("[type='checkbox']").each(function() {
								$(this).bootstrapSwitch('disabled', true);
						});
						var tgl_loading_id = '#tgl_device_'+device_index+'_loading';
						$(tgl_loading_id).addClass('opacity1');

						backend.disk_action({
								disk_device: disk_device,
								is_activate: state,
								always: function() {
										ui_check_disks(function() {});
								},
                                fail: ui_display_error
						});
				})
		});
}

function ui_display_device_url(data) {
		$("#txt_device_domain").html(data.device_domain);
}

function ui_display_access(data) {
		var access_data = data.data;
		$('#tgl_external').bootstrapSwitch('state', access_data.external_access, true)
		$('#tgl_external').bootstrapSwitch('disabled', false);
		$("#tgl_external_loading").removeClass('opacity1');
		var https_enabled = access_data.protocol === 'https';
		$('#tgl_protocol').bootstrapSwitch('state', https_enabled, true)
		$('#tgl_protocol').bootstrapSwitch('disabled', false);
		$("#tgl_protocol_loading").removeClass('opacity1');
}

function disable_access_controls() {
		$('#tgl_external').bootstrapSwitch('disabled', true);
		$('#tgl_protocol').bootstrapSwitch('disabled', true);
}

function upgrade_buttons_enabled(is_enabled) {
		var btn_platform = $("#btn_platform_upgrade");
		var btn_sam = $("#btn_sam_upgrade");
		btn_platform.prop('disabled', !is_enabled);
		btn_sam.prop('disabled', !is_enabled);
}

function ui_check_device_url() {
		backend.device_url({
			done: ui_display_device_url,
			fail: ui_display_error
		});
}

function ui_check_access() {
		backend.check_access({
				done: ui_display_access,
				fail: ui_display_error
		});
}

function ui_send_logs() {
		var btn = $("#btn_send_logs");
		btn.button('loading');
		backend.send_logs({
				always: function() {
						btn.button('reset');
				},
				fail: ui_display_error
		});
}

function ui_toggle_external_access() {
		var toggle = $("#tgl_external")
		var state = toggle.bootstrapSwitch('state');
		disable_access_controls();
		$("#tgl_external_loading").addClass('opacity1');
		backend.external_access({
				state: state,
				always: ui_check_access,
				fail: ui_display_error
		});
}

function ui_toggle_protocol() {
		var toggle = $("#tgl_protocol")
		var state = toggle.bootstrapSwitch('state');
		var new_protocol = state ? 'https' : 'http'
		disable_access_controls();
		$("#tgl_protocol_loading").addClass('opacity1');
		backend.protocol({
				new_protocol: new_protocol,
				always: ui_check_access,
				fail: ui_display_error
		});
}

function ui_display_versions(data) {
		platform_data = find_app(data.data, "platform")
		sam_data = find_app(data.data, "sam")

		$("#txt_platform_version").html(platform_data.installed_version);
		$("#txt_system_version_available").html(platform_data.current_version);

		if (platform_data.installed_version != platform_data.current_version) {
				$("#block_system_upgrade").show();
		} else {
				$("#block_system_upgrade").hide();
		}

		$("#txt_sam_version").html(sam_data.installed_version);
		$("#txt_sam_version_available").html(sam_data.current_version);

		if (sam_data.installed_version != sam_data.current_version) {
				$("#block_sam_upgrade").show();
		} else {
				$("#block_sam_upgrade").hide();
		}
}

function ui_get_versions(callback) {
		backend.get_versions({
				done: ui_display_versions,
				fail: ui_display_error,
				always: callback
		});
}

function ui_check_versions() {
		var btn = $("#btn_check_updates");
		upgrade_buttons_enabled(false);
		btn.button('loading');
		backend.check_versions({
				always: function() {
						ui_get_versions(function() {
								btn.button('reset');
								upgrade_buttons_enabled(true);
						});
				}
		});
}

function ui_platform_upgrade() {
		var btn = $("#btn_platform_upgrade");
		btn.button('loading');
		backend.platform_upgrade({
				always: function() {
					ui_get_versions(function() {
							btn.button('reset');
					});
				}
		});
}

function ui_sam_upgrade() {
		var btn = $("#btn_sam_upgrade");
		btn.button('loading');
		backend.sam_upgrade({
				always: function() {
					ui_get_versions(function() {
							btn.button('reset');
					});
				}
		});
}

function ui_check_disks(callback) {
		backend.update_disks({
				done: ui_display_disks,
				always: callback
		});
}

$(document).ready(function () {

    $("#btn_check_updates").on('click', function () {
    		ui_check_versions();
    });

    $("#btn_send_logs").on('click', function () {
        ui_send_logs();
    });

    $("#btn_reactivate").on('click', function () {
    		backend.reactivate();
    });

    $("#tgl_external").on('switchChange.bootstrapSwitch', function(event, state) {
				event.preventDefault();
				ui_toggle_external_access();
		});

		$("#tgl_protocol").on('switchChange.bootstrapSwitch', function(event, state) {
				event.preventDefault();
				ui_toggle_protocol();
		});

    $("#btn_platform_upgrade").on('click', function () {
    		ui_platform_upgrade();
    });

    $("#btn_sam_upgrade").on('click', function () {
    		ui_sam_upgrade();
    });

		ui_check_device_url();
		ui_check_access();
		ui_check_disks(function() {});
		ui_check_versions();
});

</script>

<!--[if lt IE 9]>
<script src="js/lib/html5.js"></script>
<script src="js/lib/IE9.js"></script>
<![endif]-->

<script src="js/backend/common.js"></script>
<script src="js/backend/menu.js"></script>
<script src="js/backend/settings.js"></script>
<!-- END SCRIPTS -->
</body>
</html>