<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Syncloud</title>
	<meta name="author" content="syncloud.org">
	<meta name="description" content="Your Personal Server">
	<meta name="keywords" content="Your Personal Server">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="width" />
	<meta content="yes" name="apple-mobile-web-app-capable" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#64bc46">
	<meta name="theme-color" content="#3e454e">

  <script type="text/javascript" src="js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="js/lib/URI.js"></script>

	<link rel="stylesheet" href="css/site.min.css" type="text/css">
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

	</head>	
<body>
<div class="wrapper">
	<div class="content">
	<!--HEADER-->
		<div class="headblock">
			<header class="wd12">
				<div class="logo">Syncloud</div>
				<div class="menulinks">
					<a href="index.html" class="apps hlink">Apps</a>
					<a href="appcenter.html" class="appcenter hlink">App Center</a>
					<a href="settings.html" class="settings hlink active">Settings</a>
				</div>
				<div class="menuoff">
					<a href="#" id="btn_logout_large" class="logout hlink">Log out</a>
					<div class="dropdowncontainer hlink">
						<a href="#" class="shutdown dropdown hlink" onclick="dropdown()">Shutdown</a>
						<div id="myDropdown" class="dropdown-content">
						<a href="#" id="btn_restart_large">Restart</a>
						<a href="#" id="btn_shutdown_large">Shutdown</a>
						</div>
					</div>
				</div>
				<div class="menubutton">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</header>
			<div class="navi">
				<a href="index.html">Apps</a>
				<a href="appcenter.html">App Center</a>
				<a href="settings.html">Settings</a>
				<div class="menucolor2">
				<a href="#" id="btn_logout_small">Log out</a>
				<a href="#" id="btn_restart_small">Restart</a>
				<a href="#" id="btn_shutdown_small">Shutdown</a>
				</div>
			</div>
		</div>
		<!--block1-->
		<div class="block1 wd12" id="block1">
			<h1>Storage</h1>
			
			<div class="row settingsblock">
	
				<div class="col2">
				<div class="setline">
            <span class="span" style="font-weight: bold;">Boot disk</span>
    
   <div id="block_boot_disk">
					</div>
					
					<div class="setline" style="margin-top: 20px;">
						<span class="span" style="font-weight: bold;">External disks</span>
    </div>
    
					<div id="block_disks">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="block_error" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
          <div class="bodymod">
              <div id="txt_error" class="btext">Some error happened!</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id='template-disks'>

    <%
		var index = 0;
		if (disks.length == 0) {
    %>

		<span class="span">No external disks found</span>

    <% } %>

    <%
    for (i=0; i < disks.length; i++) {
				var disk = disks[i];
    %>

		<div class="setline" style="margin-top: 20px;">
			<span class="span" style="font-weight: bold;"><%= disk.name %></span>
			<% if (!disk.active) { %>
			<div class="spandiv">
				<button class="buttongreen bwidth smbutton btn-lg" id="btn_init_<%=i%>" data-type="init" data-index="<%=i%>" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> ">Format</button>
			</div>
			<% } %>
    	</div>

    <%
				partitions = disk.partitions;
				for (j=0; j < partitions.length; j++) {
				var partition = partitions[j];

					if (partition.mountable || partition.active) {
    %>

		<div class="setline">
				<span class="span"><%=partition.size %></span>
				<div class="spandiv">
						<input type="checkbox" id="tgl_device_<%=index%>" data-index="<%=index%>" data-device="<%=partition.device %>" data-on-text="Active" data-off-text="Not active" data-label-width="8" <% if (partition.active) { %>checked<% } %> />
						<i class="fa fa-circle-o-notch fa-spin switchloading opacity-invisible" id="tgl_device_<%=index%>_loading"></i>
				</div>
		</div>

    <%
						index = index + 1;
					}

            	}
    %>

    <% } %>
</script>

<script type="text/html" id='template-boot-disk'>

    
    <div class="setline" style="margin-top: 20px;">
        <span class="span"><%=size %></span>
        <% if (extendable) { %>
        <div class="spandiv">
            <button class="buttongreen bwidth smbutton btn-lg" id="btn_boot_extend" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Extending...">Extend</button>
        </div>
        <% } %>
    </div>

</script>

<!-- Scripts-->
<script src="js/lib/jquery-1.11.3.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/bootstrap-switch.min.js"></script>
<script src="js/ui/font.js"></script>
<script src="js/ui/common.js"></script>
<script src="js/ui/menu.js"></script>

<script type="text/javascript">

function ui_display_toggles() {
	$("[type='checkbox']").each(function() {
		$(this).bootstrapSwitch();
	});
}

ui_display_toggles();

function ui_display_disks(data) {
		var template = $("#template-disks").html();
		$("#block_disks").html(_.template(template)(data));
		ui_display_toggles();
		

		$("#block_disks").find("[type='checkbox']").each(function() {
				var tgl_device = $(this);
				$(this).on('switchChange.bootstrapSwitch', function(e, s) {
						var state = tgl_device.bootstrapSwitch('state');
						var disk_device = tgl_device.data('device');
						var device_index = tgl_device.data('index');

						$("#block_disks").find("[type='checkbox']").each(function() {
								$(this).bootstrapSwitch('disabled', true);
						});
						var tgl_loading_id = '#tgl_device_'+device_index+'_loading';
						$(tgl_loading_id).addClass('opacity-visible');

						disk_action(disk_device, state,
                                ui_check_disks,
                                ui_display_error);
				})
		});
		
				$("#block_disks").find("[data-type='init']").each(function() {
				var btn_init = $(this);
				btn_init.button('reset');
				$(this).on('click', function(e, s) {
						btn_init.button('loading');
						var disk_device = btn_init.data('device');
						disk_init(disk_device,
              ui_check_disks,
              ui_display_error);
				})
		});
		
}

function ui_display_boot_disk(data) {
		var template = $("#template-boot-disk").html();
		$("#block_boot_disk").html(_.template(template)(data.data));
        $("#btn_boot_extend").on('click', function () {
    		ui_boot_extend();
        });
}

function ui_boot_extend() {
    var btn = $("#btn_boot_extend");
    btn.button('loading');
    
    boot_extend(
        function (data) {
            ui_display_boot_disk(data);
            btn.button('reset');
        },
        function (a, b, c) {
            ui_display_error(a, b, c);
            btn.button('reset');
        });

}

function ui_check_disks() {
		backend.update_disks(ui_display_disks, ui_display_error);
}

function ui_check_boot_disk(on_always) {
		backend.update_boot_disk(ui_display_boot_disk, on_always, ui_display_error);
}

$(document).ready(function () {

    ui_check_disks();
    ui_check_boot_disk(function() {});

});

</script>

<!--[if lt IE 9]>
<script src="js/lib/html5.js"></script>
<script src="js/lib/IE9.js"></script>
<![endif]-->

<script src="js/common.js"></script>
<script src="js/settings.js"></script>
<script src="js/backend/common.js"></script>
<script src="js/backend/menu.js"></script>
<script src="js/backend/settings.js"></script>
<!-- END SCRIPTS -->
</body>
</html>
