<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
<div class="wrapper">
	<div class="content">

	<%= require('html-loader!./template/header.html') %>

		<!--block1-->
        <div class="block1 wd12" id="block1">
            <h1>Storage</h1>

            <div class="row-no-gutters settingsblock">

                <div class="col2">
                    <div class="setline">
                        <div class="setline" style="margin-top: 20px;">
                            <span class="span" style="font-weight: bold;">Boot disk</span>
                        </div>

                        <div class="setline">
                            <div id="block_boot_disk">
                                <div class="setline" style="padding-top: 7px; padding-bottom: 5px;">
                                    <span>Partition ...</span>
                                </div>
                            </div>
                        </div>

                        <div class="setline" style="margin-top: 20px;">
                            <span class="span" style="font-weight: bold;">External disks</span>
                            <button data-toggle="modal" data-target="#help_external_disk" type=button
                                    class="control" style=" background:transparent;">
                                <i class='fa fa-question-circle fa-lg'></i>
                            </button>
                        </div>

                        <div id="block_disks"></div>
                    </div>

                </div>
            </div>
        </div>
</div>

<%= require('html-loader!./template/error.html') %>

    <div id="partition_action_confirmation" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Partition action</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="partition_loading_tgl_name" value=""/>
                    <input type="hidden" id="partition_action" value=""/>
                    <input type="hidden" id="partition_device" value=""/>
                    <input type="hidden" id="partition_id" value=""/>
                    <input type="hidden" id="partition_state" value=""/>
                    <div class="bodymod">
                        <div class="btext">
                            Your existing data will not be touched or moved<br>
                            <span id="partition_disk_name" style="font-weight: bold;"></span><br>
                            <span id="partition_name"></span>
                            <br>
                            Are you sure?
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_partition_cancel" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close
                        </button>
                        <button type="button" id="btn_partition_action" class="btn buttonlight bwidth smbutton"
                                data-dismiss="modal">Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="disk_format_confirmation" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Disk format</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="disk_index" value=""/>
                    <div class="bodymod">
                        <div class="btext">
                            This will destroy all the data on this disk!<br>
                            <span id="disk_name" style="font-weight: bold;"></span><br>
                            Are you sure?
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close
                        </button>
                        <button type="button" id="btn_disk_format" class="btn buttonlight bwidth smbutton"
                                data-dismiss="modal">Format
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="help_external_disk" class="modal fade bs-are-use-sure" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">External disk</h4>
                </div>
                <div class="modal-body">
                    <div class="bodymod">
                        <div class="btext">
                            Every app is configured to use storage provided by the system (which is available at /data).
                            This setting screen allows you to choose which attached disk to use for that storage.<br>
                            Currently you can activate only one storage at a time.
                            When activating a disk partition existing data will not be copied to the selected disk.<br><br>
                            You can initialize a disk by formatting it to clear all the data or to make it compatible with the system.
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn buttonlight bwidth smbutton" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
