<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
<div class="wrapper">
	<div class="content">

 <%= require('html-loader!./template/header.html') %>

		<!--block1-->
		<div class="block1 wd12" id="block1">
			<h1>Support</h1>
			<div class="row-no-gutters settingsblock">
				<div class="col2">
					<div class="setline">
						  	<span class="span">Send a copy to support</span>
						  	<input type="checkbox" id="tgl_support_logs" data-on-text="ON" data-off-text="OFF" data-label-width="8" />
						</div>
					<div class="setline">
					  	<span class="span">Report Issue:</span>
						 <button class="buttonblue bwidth smbutton" id="btn_send_logs" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Sending...">Send logs</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= require('html-loader!./template/error.html') %>

</body>
</html>
