<!DOCTYPE html>
<html>

<%= require('html-loader!./template/meta.html') %>

<body>
<div class="wrapper">
	<div class="content">

	<%= require('html-loader!./template/header.html') %>

		<!--block1-->
		<div class="block1 wd12" id="block1">
			<h1>Updates</h1>
			<div class="row-no-gutters settingsblock">
				<div class="col2">
					<div class="setline">
						<button class="buttongreen bwidth smbutton btn-lg" id="btn_check_updates" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Checking...">Check for updates</button>
					</div>
					<div class="setline">
						<span class="span">Current system version: </span><span id="txt_platform_version"></span>
						<div id="block_system_upgrade" style="display: none">
							<span class="span">Available version: </span><span id="txt_system_version_available"></span>
							<div class="spandiv">
								<button class="buttongreen bwidth smbutton btn-lg" id="btn_platform_upgrade" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Upgrading...">Upgrade</button>
							</div>
						</div>
					</div>
					<div class="setline">
						<span class="span">Current installer version: </span><span id="txt_sam_version"></span>
						<div id="block_sam_upgrade" style="display: none">
							<span class="span">Available installer version: </span><span id="txt_sam_version_available"></span>
							<div class="spandiv">
								<button class="buttongreen bwidth smbutton btn-lg" id="btn_sam_upgrade" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Upgrading...">Upgrade</button>
							</div>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
</div>

<%= require('html-loader!./template/error.html') %>

</body>
</html>
