---
layout: public
title: App

main_menu_item: menu_apps
---

<div class="container">
    <div id="app" class="form-horizontal"></div>
</div>

<!-- Create your template -->
<script type="text/html" id='app-template'>
    <div class="col-6 col-md-6 col-sm-6 col-xs-6 col-lg-6">
      <div><img class="center-block" src="/server/html/images/<%= info.app.id %>-128.png"/></div>
      <div><p class="text-center"><%= info.app.name %></p></div>
    </div>
    <div class="col-6 col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <% _.each(actions, function(el) { %>
            <button id="btn<%= el %>" name="btn<%= el %>"
                    class="btn btn-primary center-block"
                    style="width: 100%; margin-bottom: 10px;">
                <%= el %>
            </button>
        <% }); %>
        <% if (info.installed_version) { %>
            <p class="text-nowrap text-center" style="width: 100%">
                v<%= info.installed_version %>
            </p>
        <% } %>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <div id="progress-bar" class="progress" style="height: 10px; margin-bottom: 5px; visibility: hidden">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
    <div id="errors_placeholder" class="col-12 col-md-12 col-sm-12 col-lg-12 col-xs-12"></div>
</script>

<script type="text/html" id="error_template">
    <div class="alert alert-danger">
        <%= message %>
    </div>
</script>

<script type="text/javascript" src="/server/html/js/app.js"></script>
<script type="text/javascript">

    function progress_start() {
        $('#progress-bar').css('visibility', 'visible');
    }

    function progress_stop() {
        $('#progress-bar').css('visibility', 'hidden');
    }

    function refresh(app_id) {
        $.get( '/server/rest/app', {app_id: app_id})
                .done( function(data) {
                    var template = $("#app-template").html();
                    data.actions = get_actions(data.info);
                    $("#app").html(_.template(template)(data));
                    register_events(app_id);
                }).fail( onError );

    }

    function run(action, app_id) {
        progress_start();
        $.get("/server/rest/" + action, {app_id: app_id})
                .fail(function(xhr, textStatus, errorThrown) {
                    var template = $("#error_template").html();
                    $('#errors_placeholder').html(_.template(template)(xhr.responseJSON));
                    show_error(xhr.responseJSON);
                })
                .always(function() {
                    refresh(app_id);
                    progress_stop();
                });
    }

    function register_events(app_id) {
        register_event(app_id, 'install');
        register_event(app_id, 'remove');
        register_event(app_id, 'upgrade');
        register_url('/' + app_id.replace('syncloud-', ''), 'open');


    }

    function register_event(app_id, action) {
        var btn = $("#btn" + action);
        btn.click(function (event) {
            btn.addClass('disabled');
            event.preventDefault();
            run(action, app_id);
        });
    }

    function register_url(url, action) {
        var btn = $("#btn" + action);
        btn.click(function (event) {
            event.preventDefault();
            window.location.href = url
        });
    }

    $( document ).ready(function() {
        refresh(new URI().query(true)['app_id']);
    });

</script>
