---
layout: public
title: App

main_menu_item: menu_apps
---

<div class="container">
    <div id="app" class="form-horizontal"></div>
</div>

<!-- Create your template -->
<script type="text/html" id='app-template'>
    <div class="col-6 col-md-6 col-sm-6 col-xs-6 col-lg-6">
      <div><img class="center-block" src="images/<%= info.app.id %>-128.png"/></div>
      <div><p class="text-center"><%= info.app.name %></p></div>
    </div>
    <div class="col-6 col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <% _.each(actions, function(el) { %>
            <button id="btn<%= el %>" name="btn<%= el %>"
                    class="btn btn-primary center-block"
                    style="width: 100%; margin-bottom: 10px;">
                <%= el %>
            </button>
        <% }); %>
        <% if (info.installed_version) { %>
            <p class="text-nowrap text-center" style="width: 100%">
                v<%= info.installed_version %>
            </p>
        <% } %>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <div id="progress-bar" class="progress" style="height: 10px; margin-bottom: 5px; visibility: hidden">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                 aria-valuemax="100" style="width: 100%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
    <div id="errors_placeholder" class="col-12 col-md-12 col-sm-12 col-lg-12 col-xs-12"></div>
</script>

<script type="text/html" id="error_template">
    <div class="alert alert-danger">
        Server error: <%= message %>
    </div>
</script>

<script type="text/javascript" src="js/sam.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        refresh(new URI().query(true)['app_id']);
    });

</script>
