---
layout: public
title: Files

main_menu_item: menu_apps
---
<style>
    .row-odd{
      background-color: #efefef;
    }
    .row-even {
      background-color: #ffffff;
    }
</style>
<div class="container" style="font-size: 24px">
    <div id="items" class="form-horizontal"></div>
</div>

<!-- Create your template -->
<script type="text/html" id='item-template'>
    <%for (s=0; s < items.length; s++) {
       var item = items[s];
       if (dir == '/')
         dir = '';
       var full_path = dir + '/' + item.name
    %>

    <% if (s % 2 == 0) {
        color = 'row-odd'
    } else {
        color = 'row-even'
    }
    %>
        <div class="row <%= color %>">

        <div class="col-6 col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <div style="padding: 10px;">
                  <% if (!item.is_file) { %>
                    <a href="/files.html?dir=<%= full_path %>" class="clickable" ><%= item.name %></a>
                  <% } else { %>
                    <a href="/server/rest/files<%= full_path %>" class="clickable"><%= item.name %></a>
                  <% } %>
              </div>
        </div>

        </div>

    <% } %>
</script>

<script type="text/javascript">

    $( document ).ready(function() {
        var uri = new URI();
        var params = uri.query(true);
        var dir = '/';
        if (params["dir"])
            dir = params["dir"];

        $.get( '/server/rest/files' + dir)
            .done( function(data) {
                    var template = $("#item-template").html();
                    $("#items").html(_.template(template)(data));
            }).fail( onError );
    });
</script>
