---
layout: public
title: Settings

main_menu_item: menu_apps
---
<style>
    .settings-row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .disk-partition-row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<div class="container" style="font-size: 18px">
    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            Browse device files
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <a class="btn btn-primary" href="/server/html/files.html">Open</a>
        </div>

    </div>

    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            External access
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="external_access_toggle_btn" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Loading ...
            </button>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div id="external_access_error" style="color: red; font-size: 14px"></div>
        </div>
    </div>

    <div class="row settings-row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Disk info
        </div>
    </div>

    <div id="disks"></div>

    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            Report an issue
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="send_logs_btn" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Send
            </button>
        </div>

    </div>


</div>

<!-- Create your template -->
<script type="text/html" id='disks-template'>
    <%for (i=0; i < disks.length; i++) {
       var disk = disks[i];
    %>

    <div class="row settings-row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <%= disk.name %>
        </div>
    </div>

    <%
    partitions = disk.partitions;
    for (j=0; j < partitions.length; j++) {
       var partition = partitions[j];
       var button = partition.mount_point ? 'Deactivate' : 'Activate';
    %>

    <div class="row disk-partition-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            <%= partition.label %>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" class="btn btn-primary activate" data-mount-point="<%=partition.mount_point %>" data-device="<%=partition.device %>" data-loading-text="Loading ..." autocomplete="off">
              <%= button %>
            </button>
        </div>

    </div>

    <% } %>

    <% } %>
</script>


<script type="text/javascript">

    var externalAccessToggleBtn = $("#external_access_toggle_btn");

    function external_access_status() {
        $.get('/server/rest/settings/external_access')
                .done(function (data) {
                    if (data.enabled)
                        externalAccessToggleBtn.text("Enabled");
                    else
                        externalAccessToggleBtn.text('Disabled');
                    externalAccessToggleBtn.data("enabled", data.enabled);
                    externalAccessToggleBtn.prop('disabled', false);
                }).fail(onError);
    }

    function disks_status() {
        $.get('/server/rest/settings/disks')
                .done(function (data) {
                    var template = $("#disks-template").html();
                    $("#disks").html(_.template(template)(data));
                }).fail(onError);
    }

    $(document).ready(function () {

        external_access_status();
        disks_status();

        externalAccessToggleBtn.on('click', function () {
            var externalAccessToggleBtn = $(this);
            externalAccessToggleBtn.prop('disabled', true);
            externalAccessToggleBtn.text('Checking ...');
            var mode = externalAccessToggleBtn.data("enabled") ? "disable" : "enable";
            $.get('/server/rest/settings/external_access_' + mode)
                    .done(function (data) {
                        if (data.success)
                            $("#external_access_error").text('');
                        else
                            $("#external_access_error").text(data.message);
                        external_access_status();
                    }).fail(onError);
        });

        $('#disks').on('click', 'button.activate', function () {

            var diskBtn = $(this);
            diskBtn.prop('disabled', true);
            diskBtn.text('Working ...');
            var mode = diskBtn.data("mount-point") ? "deactivate" : "activate";
            $.get('/server/rest/settings/disk_' + mode, {device: diskBtn.data('device')})
                    .done(function (data) {
                        disks_status()
                    }).fail(onError);
        });

        $("#send_logs_btn").on('click', function () {
            var sendLogsBtn = $(this);
            sendLogsBtn.prop('disabled', true);
            sendLogsBtn.text('Sending ...');
            $.get('/server/rest/send_log')
                    .done(function (data) {
                        sendLogsBtn.text('Send');
                        sendLogsBtn.prop('disabled', false);
                    }).fail(onError);
        });



    });

</script>