---
layout: public
title: Settings

show_main_menu: true
main_menu_item: menu_settings
---
<style>
    .settings-row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .disk-partition-row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<div class="container" style="font-size: 18px">

    <div class="row settings-row">
        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
          Activated to: <span id="device_domain"></span>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="btn_reactivate" class="btn btn-primary" autocomplete="off">
              Reactivate
            </button>
        </div>
    </div>


    <div class="row settings-row">
        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            Access protocol
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="protocol_toggle_btn" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Loading ...
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div id="protocol_error" style="color: red; font-size: 14px"></div>
        </div>
    </div>

    <div class="row settings-row">
        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            External access
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="external_access_toggle_btn" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Loading ...
            </button>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div id="external_access_error" style="color: red; font-size: 14px"></div>
        </div>
    </div>

    <div class="row settings-row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Disk info
        </div>
    </div>

    <div id="disks"></div>

    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            Report an issue
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="send_logs_btn" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Send logs
            </button>
        </div>

    </div>

    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            System version: <span id="system_version"></span>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="system_upgrade_btn" style="display: none" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Upgrade
            </button>
            <button type="button" id="system_check_btn" style="display: none" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Check
            </button>
        </div>

    </div>

</div>

<!-- Create your template -->
<script type="text/html" id='disks-template'>

    <%
      if (disks.length == 0) {
    %>

    <div class="row settings-row">
        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
            No disk found
        </div>
    </div>

    <% } %>

    <%
    for (i=0; i < disks.length; i++) {
       var disk = disks[i];
    %>

    <div class="row settings-row" style="display: none">
        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <%= disk.name %>
        </div>
    </div>

    <%
    partitions = disk.partitions;
    for (j=0; j < partitions.length; j++) {
       var partition = partitions[j];
       var button = partition.active ? 'Deactivate' : 'Activate';
    %>

    <div class="row disk-partition-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            <%= partition.size %>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" class="btn btn-primary activate" data-active="<%=partition.active %>" data-device="<%=partition.device %>" data-loading-text="Loading ..." autocomplete="off">
              <%= button %>
            </button>
        </div>

    </div>

    <% } %>

    <% } %>
</script>

<script type="text/javascript" src="js/sam.js"></script>
<script type="text/javascript" src="js/settings.js"></script>
<script type="text/javascript" src="js/logs.js"></script>
<script type="text/javascript">

$(document).ready(function () {

    var internal_web = (new URI())
        .port(81)
        .directory("")
        .filename("")
        .query("");

    $("#btn_reactivate").on('click', function () {
        window.location.href = internal_web;
    });


    var externalAccessToggleBtn = $("#external_access_toggle_btn");
    var protocolToggleBtn = $("#protocol_toggle_btn");

    get_device_domain();
    external_access_status(externalAccessToggleBtn);
    protocol_status(protocolToggleBtn);
    disks_status();
    check_system_version();

    externalAccessToggleBtn.on('click', function() {
        externalAccessToggleBtn.prop('disabled', true);
        externalAccessToggleBtn.text('Checking ...');
        new_external_access = ! externalAccessToggleBtn.data("external_access")
        $.get('/rest/settings/set_external_access?external_access=' + new_external_access)
            .done(function (data) {
                if (data.success)
                    $("#external_access_error").text('');
                else
                    $("#external_access_error").text(data.message);

                external_access_status(externalAccessToggleBtn);

            }).fail(onError);
    });

    protocolToggleBtn.on('click', function() {
        protocolToggleBtn.prop('disabled', true);
        protocolToggleBtn.text('Checking ...');
        var new_protocol = protocolToggleBtn.data("protocol") == 'http' ? 'https' : 'http'
        $.get('/rest/settings/set_protocol?protocol=' + new_protocol)
            .done(function (data) {
                if (data.success)
                    $("#protocol_error").text('');
                else
                    $("#protocol_error").text(data.message);

                protocol_status(protocolToggleBtn);

            }).fail(onError);
    });

    $('#disks').on('click', 'button.activate', function () {

        var btn = $(this);
        btn.prop('disabled', true);
        btn.text('Working ...');
        var mode = btn.data("active") ? "deactivate" : "activate";
        $.get('/rest/settings/disk_' + mode, {device: btn.data('device')})
                .done(function () {
                    disks_status()
                }).fail(onError);
    });

    $("#send_logs_btn").on('click', send_logs);

    $("#system_upgrade_btn").on('click', function () {
        var btn = $(this);
        btn.prop('disabled', true);
        btn.text('Upgrading ...');
        $.get('/rest/settings/system_upgrade')
                .done(function() {
                    run_after_sam_is_complete(check_system_version);
                })
                .fail(function () {
                    run_after_sam_is_complete(check_system_version);
                });
    });

    $("#system_check_btn").on('click', function () {
        var btn = $(this);
        btn.prop('disabled', true);
        btn.text('Checking ...');
        $.get('/rest/check')
                .done(function() {
                    run_after_sam_is_complete(check_system_version);
                })
                .fail(function () {
                    run_after_sam_is_complete(check_system_version);
                });
    });

});

</script>