---
layout: public
title: Settings

main_menu_item: menu_apps
---
<style>
    .settings-row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .disk-partition-row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<div class="container" style="font-size: 18px">
    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            Browse device files
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <a class="btn btn-primary" href="/server/html/files.html">Open</a>
        </div>

    </div>

    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            External access
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="external_access_toggle_btn" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Loading ...
            </button>
        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div id="external_access_error" style="color: red; font-size: 14px"></div>
        </div>
    </div>

    <div class="row settings-row">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Disk info
        </div>
    </div>

    <div id="disks"></div>

    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            Report an issue
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="send_logs_btn" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Send
            </button>
        </div>

    </div>

    <div class="row settings-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            System version: <span id="system_version"></span>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" id="system_upgrade_btn" style="display: none" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Upgrade
            </button>
            <button type="button" id="system_check_btn" style="display: none" data-loading-text="Loading ..." class="btn btn-primary" autocomplete="off">
              Check
            </button>
        </div>

    </div>

</div>

<!-- Create your template -->
<script type="text/html" id='disks-template'>
    <%for (i=0; i < disks.length; i++) {
       var disk = disks[i];
    %>

    <div class="row settings-row" style="display: none">

        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <%= disk.name %>
        </div>
    </div>

    <%
    partitions = disk.partitions;
    for (j=0; j < partitions.length; j++) {
       var partition = partitions[j];
       var button = partition.mount_point ? 'Deactivate' : 'Activate';
    %>

    <div class="row disk-partition-row">

        <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8">
            <%= partition.size %>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <button type="button" class="btn btn-primary activate" data-mount-point="<%=partition.mount_point %>" data-device="<%=partition.device %>" data-loading-text="Loading ..." autocomplete="off">
              <%= button %>
            </button>
        </div>

    </div>

    <% } %>

    <% } %>
</script>


<script type="text/javascript">

    var externalAccessToggleBtn = $("#external_access_toggle_btn");

    function external_access_status() {
        $.get('/server/rest/settings/external_access')
                .done(function (data) {
                    if (data.enabled)
                        externalAccessToggleBtn.text("Enabled");
                    else
                        externalAccessToggleBtn.text('Disabled');
                    externalAccessToggleBtn.data("enabled", data.enabled);
                    externalAccessToggleBtn.prop('disabled', false);
                }).fail(onError);
    }

    function disks_status() {
        $.get('/server/rest/settings/disks')
                .done(function (data) {
                    var template = $("#disks-template").html();
                    $("#disks").html(_.template(template)(data));
                }).fail(onError);
    }

    function check_system_version() {
        $.get('/server/rest/settings/version')
                .done(function (data) {
                    var btn = $("#system_upgrade_btn");
                    var check_btn = $("#system_check_btn");
                    btn.hide();
                    check_btn.hide();
                    var updates = '';

                    if (data.installed_version != data.current_version) {
                        btn.show();
                        updates = ', updated version available: ' + data.current_version;
                        btn.text('Upgrade');
                        btn.prop('disabled', false);
                    } else {
                        check_btn.show();
                        check_btn.text('Check');
                        check_btn.prop('disabled', false);
                    }

                    $("#system_version").html(data.installed_version + updates);

                }).fail(onError);
    }

    function check_upgrade_status() {
        var recheck_timeput = 2000;
        $.get('/server/rest/settings/sam_status')
                .done(function(sam) {
                    if (sam.is_running)
                        setTimeout(check_upgrade_status, recheck_timeput);
                    else
                        check_system_version();
                })
                .fail(function() {
                    setTimeout(check_upgrade_status, recheck_timeput);
                })

    }

    $(document).ready(function () {

        external_access_status();
        disks_status();
        check_system_version();

        externalAccessToggleBtn.on('click', function () {
            var btn = $(this);
            btn.prop('disabled', true);
            btn.text('Checking ...');
            var mode = btn.data("enabled") ? "disable" : "enable";
            $.get('/server/rest/settings/external_access_' + mode)
                    .done(function (data) {
                        if (data.success)
                            $("#external_access_error").text('');
                        else
                            $("#external_access_error").text(data.message);
                        external_access_status();
                    }).fail(onError);
        });

        $('#disks').on('click', 'button.activate', function () {

            var btn = $(this);
            btn.prop('disabled', true);
            btn.text('Working ...');
            var mode = btn.data("mount-point") ? "deactivate" : "activate";
            $.get('/server/rest/settings/disk_' + mode, {device: btn.data('device')})
                    .done(function () {
                        disks_status()
                    }).fail(onError);
        });

        $("#send_logs_btn").on('click', function () {
            var btn = $(this);
            btn.prop('disabled', true);
            btn.text('Sending ...');
            $.get('/server/rest/send_log')
                    .done(function () {
                        btn.text('Send');
                        btn.prop('disabled', false);
                    }).fail(onError);
        });

        $("#system_upgrade_btn").on('click', function () {
            var btn = $(this);
            btn.prop('disabled', true);
            btn.text('Upgrading ...');
            $.get('/server/rest/settings/system_upgrade')
                    .done(function() {
                        check_upgrade_status();
                    })
                    .fail(function () {
                        check_upgrade_status();
                    });
        });

        $("#system_check_btn").on('click', function () {
            var btn = $(this);
            btn.prop('disabled', true);
            btn.text('Checking ...');
            $.get('/server/rest/check')
                    .done(function() {
                        check_upgrade_status();
                    })
                    .fail(function () {
                        check_upgrade_status();
                    });
        });

    });

</script>