KERNEL=="sd*", ACTION=="remove", RUN+="{{ app_dir }}/bin/check_external_disk.py"
KERNEL=="mmcblk*", ACTION=="remove", RUN+="{{ app_dir }}/bin/check_external_disk.py"
KERNEL=="loop*", ACTION=="remove", RUN+="{{ app_dir }}/bin/check_external_disk.py"
