[Unit]
Description=Network Time Service (one-shot ntpdate mode)
Requires=ntp.service
After=ntp.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ntpd -q -g -x
ExecStart=-/sbin/hwclock --systohc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target