[Unit]
Description=Platform nginx
Requires=platform-uwsgi.service
After=platform-uwsgi.service

[Service]
Type=forking
PIDFile=/opt/app/platform/nginx/logs/nginx.pid
#RootDirectory=/opt/app/platform/nginx
ExecStartPre=/opt/app/platform/nginx/sbin/nginx -t -c /opt/app/platform/config/nginx.conf
ExecStart=/opt/app/platform/nginx/sbin/nginx -c /opt/app/platform/config/nginx.conf
ExecReload=/opt/app/platform/nginx/sbin/nginx -c /opt/app/platform/config/nginx.conf -s reload
ExecStop=/opt/app/platform/nginx/sbin/nginx -c /opt/app/platform/config/nginx.conf -s stop

[Install]
WantedBy=multi-user.target