[Unit]
Description=Platform nginx public
Requires=platform.uwsgi-public.service
After=platform.uwsgi-public.service

[Service]
Type=forking
PIDFile={{ app_data }}/log/nginx.pid
ExecStartPre={{ app_dir }}/nginx/sbin/nginx -t -c {{ config_root }}/config/nginx/public.conf -g 'error_log {{ app_data }}/log/nginx_error.log warn;'
ExecStart={{ app_dir }}/nginx/sbin/nginx -c {{ config_root }}/config/nginx/public.conf -g 'error_log {{ app_data }}/log/nginx_error.log warn;'
ExecReload={{ app_dir }}/nginx/sbin/nginx -c {{ config_root }}/config/nginx/public.conf -s reload -g 'error_log {{ app_data }}/log/nginx_error.log warn;'
ExecStop={{ app_dir }}/nginx/sbin/nginx -c {{ config_root }}/config/nginx/public.conf -s stop -g 'error_log {{ app_data }}/log/nginx_error.log warn;'

[Install]
WantedBy=multi-user.target