[Unit]
Description=Platform nginx api
Requires=platform.uwsgi-api.service
After=platform.uwsgi-api.service

[Service]
Type=forking
PIDFile={{ app_data }}/log/nginx_api.pid
ExecStartPre={{ app_dir }}/bin/service.nginx-api.sh pre-start
ExecStart={{ app_dir }}/bin/service.nginx-api.sh start
ExecStartPost={{ app_dir }}/bin/service.nginx-api.sh post-start
ExecStop={{ app_dir }}/bin/service.nginx-api.sh stop

[Install]
WantedBy=multi-user.target