[Unit]
Description=Platform Open LDAP
After=syslog.target

[Service]
Type=forking
Environment=SNAP_COMMON={{ app_data }}
PIDFile={{ app_data }}/openldap/slapd.pid
ExecStart={{ app_dir }}/bin/service.openldap.sh start

[Install]
WantedBy=multi-user.target