[Unit]
Description=Platform Open LDAP
After=syslog.target

[Service]
;User=platform
Type=forking
PIDFile=/opt/app/platform/openldap/var/run/slapd.pid
ExecStart=/opt/app/platform/openldap/libexec/slapd -h "ldap:/// ldapi:///" -u platform -g platform -F /opt/data/platform/slapd.d
;TimeoutSec=3

[Install]
WantedBy=multi-user.target