[Unit]
Description=Auto disk mounter
Requires=udisks.service
After=udisk.service

[Service]
User=www-data
ExecStart=/usr/bin/udisks-glue --config /opt/app/platform/config/udisks/udisks-glue.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target