[Unit]
Description=uWSGI Public
After=syslog.target

[Service]
ExecStart=/opt/app/platform/uwsgi/bin/uwsgi --ini /opt/app/platform/config/uwsgi/public.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target