[Unit]
Description=uWSGI Public
After=syslog.target

[Service]
;User=platform
ExecStart=/opt/app/platform/uwsgi/bin/uwsgi --ini {{ app_data }}/config/uwsgi/public.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
Environment=LD_LIBRARY_PATH=/opt/app/platform/python/lib

[Install]
WantedBy=multi-user.target