[Unit]
Description=Update hardware clock
Requires=ntp.service
After=ntp.service

[Service]
Type=oneshot
ExecStart=-/sbin/hwclock --systohc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target