[Unit]
Description=Board specific cpu frequency
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/app/platform/bin/cpu_frequency
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target