[Unit]
Description=Platform nginx internal
Requires=platform.uwsgi-internal.service
After=platform.uwsgi-internal.service

[Service]
Type=simple
PIDFile={{ app_data }}/log/nginx_internal.pid
ExecStartPre={{ app_dir }}/nginx/sbin/nginx -t -c {{ config_root }}/config/nginx/internal.conf -g 'error_log {{ app_data }}/log/nginx_error.log warn;'
ExecStart={{ app_dir }}/nginx/sbin/nginx -c {{ config_root }}/config/nginx/internal.conf -g 'error_log {{ app_data }}/log/nginx_error.log warn;'
ExecReload={{ app_dir }}/nginx/sbin/nginx -c {{ config_root }}/config/nginx/internal.conf -s reload -g 'error_log {{ app_data }}/log/nginx_error.log warn;'
ExecStop={{ app_dir }}/nginx/sbin/nginx -c {{ config_root }}/config/nginx/internal.conf -s stop -g 'error_log {{ app_data }}/log/nginx_error.log warn;'

[Install]
WantedBy=multi-user.target