[Unit]
Description=Platform nginx
Requires=platform-uwsgi-internal.service platform-uwsgi-public.service
After=platform-uwsgi-internal.service platform-uwsgi-public.service

[Service]
Type=forking
PIDFile={{ app_data }}/log/nginx.pid
ExecStartPre={{ app_dir }}/nginx/sbin/nginx -t -c {{ app_data }}/config/nginx/nginx.conf
ExecStart={{ app_dir }}/nginx/sbin/nginx -c {{ app_data }}/config/nginx/nginx.conf
ExecReload={{ app_dir }}/nginx/sbin/nginx -c {{ app_data }}/config/nginx/nginx.conf -s reload
ExecStop={{ app_dir }}/nginx/sbin/nginx -c {{ app_data }}/config/nginx/nginx.conf -s stop

[Install]
WantedBy=multi-user.target