[Unit]
Description=uWSGI Internal
After=syslog.target

[Service]
;User=platform
ExecStart=/opt/app/platform/uwsgi/bin/uwsgi --ini /opt/app/platform/config/uwsgi/internal.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target