[Unit]
Description=Syncloud first boot disk resize
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/app/platform/bin/syncloud-resize-sd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target