{% if page.show_main_menu %}
<script type="text/javascript">

$( document ).ready(function() {

    {% if page.main_menu_item %}
        $("#{{ page.main_menu_item }}").addClass("active");
    {% endif %}

    $("#menu_logout").click(function(event) {
        var posting = $.post( '/rest/logout' )
            .done( function(data) {
                window.location.href = "/login.html";
            })
            .fail( function(xhr, textStatus, errorThrown) {
            });
    });

    $.get( "/rest/user" )
        .done( function(data) {
            var user = data;

            $('.menu-private').show();
            $('.menu-public').hide();
        })
        .fail( function(xhr, textStatus, errorThrown) {
        });

    var internal_web = (new URI())
        .port(81)
        .directory("")
        .filename("")
        .query("");

    var menu_reactivate = $("#menu_reactivate");
    var reactivate_link = $("#reactivate_link");

    $.get(internal_web)
            .done(function (data){
                menu_reactivate.removeClass('hidden');
                reactivate_link.prop('href', internal_web)
            })
            .fail(function (data){
                menu_reactivate.addClass('hidden');
            });

});

</script>
{% endif %}
