<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><img src="/server/html/images/logo-52.png"/><span>SYNCLOUD</span></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right menu-private" style="display: none">
        <li>
          <span id="menu_user_name"></span>
          <button id="menu_logout" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <!--<li id="menu_about"><a href="about.html">About</a></li>-->
        <li id="menu_apps" class="menu-private" style="display: none"><a href="/server/html/index.html">Apps</a></li>
        <li id="menu_reactivate" class="menu-private" style="display: none"><a id="reactivate_link" href="#">Reactivate</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right menu-public">
        <li id="menu_login"><a href="/server/html/login.html">Log in</a></li>
      </ul>
    </div>

  </div>
</nav>