[ ca ]
default_ca = CA_default

[ CA_default ]
# Directory and file locations.
dir               = ${config_dir}/tls/ca
certs             = $$dir/certs
crl_dir           = $$dir/crl
new_certs_dir     = $$dir/newcerts
database          = $$dir/index.txt
serial            = $$dir/serial
RANDFILE          = $$dir/private/.rand

# The root key and root certificate.
private_key       = ${ssl_ca_key_file}
certificate       = ${ssl_ca_certificate_file}

# For certificate revocation lists.
crlnumber         = $$dir/crlnumber
crl               = $$dir/crl/ca.crl.pem
crl_extensions    = crl_ext
default_crl_days  = 30

# SHA-1 is deprecated, so use SHA-2 instead.
default_md        = sha256

name_opt          = ca_default
cert_opt          = ca_default
default_days      = 375
preserve          = no
policy            = policy_strict

[ req ]
distinguished_name	= req_distinguished_name
x509_extensions	    = v3_ca
prompt              = no

[ req_distinguished_name ]
C  = US
ST = Syncloud
L  = Syncloud
O  = Syncloud
OU = Syncloud
CN = ${domain}

[ v3_ca ]
subjectAltName         = @alternate_names
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = CA:true

[ alternate_names ]

DNS.1 = ${domain}
DNS.2 = *.${domain}

[ server_cert ]
basicConstraints = CA:FALSE
nsCertType = server
nsComment = "Syncloud Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alternate_names

[ policy_strict ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional