<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Syncloud</title>
    <meta name="author" content="syncloud.org">
    <meta name="description" content="Your Personal Server">
    <meta name="keywords" content="Your Personal Server">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta content="yes" name="apple-mobile-web-app-capable" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#64bc46">
    <meta name="theme-color" content="#3e454e">
</head>