html {
    height: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
body {
    font-family: 'Roboto', Sans-serif;
    margin: 0;
    padding: 0;
    color: #292b30;
    font-weight: 300;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-width: 320px;
    background: url(../images/background.jpg) repeat-x center top;
    width: 100%;
    height: 100%}
* {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Roboto', Sans-serif;
}
.button_label {
    padding-bottom: 15px;
    vertical-align: middle;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
    text-decoration: none;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #02a0dc;
    color: #000 !important;
    background-color: transparent !important;
}
.nav-pills > li > a{
    border-radius:0px;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
b {
    font-weight: 400!important;
}
p {
    font-size: 16px;
}
a, button, input {
    outline: none;
    text-decoration: none;
}
a {
    color: #292b30;
    text-decoration: none;
}
button:active {
    outline: none;
    border: none;
}
button:focus {
    outline: none;
    border: none;
}
::-webkit-input-placeholder {
    color: #6a6e72;
    font-family: 'Roboto', Sans-serif;
    font-weight: 300;
}
:-moz-placeholder {
    color: #6a6e72;
    font-family: 'Roboto', Sans-serif;
    font-weight: 300;
}
::-moz-placeholder {
    color: #6a6e72;
    font-family: 'Roboto', Sans-serif;
    font-weight: 300;
}
:-ms-input-placeholder {
    color: #6a6e72;
    font-family: 'Roboto', Sans-serif;
    font-weight: 300;
}
img {
    border: none;
}

.control {
    border: inherit;
}

div, a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%}
.content {
    flex: 1 0 auto;
}
.footerblock {
    flex: 0 0 auto;
}
.headblock {
    position: relative;
    width: 100%;
    top: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    background: #3e454e;
    z-index: 15;
}
.wd12 {
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
}
.wd12:after {
    content: '';
    display: block;
    clear: both;
}
header {
    padding: 25px 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    text-align: center;
}
header:after, footer:after {
    content: '';
    display: block;
    clear: both;
}
.logo {
    background: url(../images/logo_white.svg) no-repeat left center;
    width: 25%;
    height: 70px;
    text-indent: -9999px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
}
.onelogo {
    display: block;
    margin: 0 auto;
}
header .hlink {
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    margin: 0 0 0 4%
}
.menulinks {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    width: 43%}
.menulinks a {
    padding: 2px 0 2px 32px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
}
.menulinks .apps {
    background: url(../images/apps.svg) no-repeat left center;
}
.menulinks .appcenter {
    background: url(../images/appcenter.svg) no-repeat left center;
}
.appcenterh {
    padding: 2px 0 2px 32px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/appcenterh.svg) no-repeat left center;
    color: #00aeef;
    font-weight: 400;
}
.menulinks .settings {
    background: url(../images/settings.svg) no-repeat left center;
}
.menulinks .apps:hover, .apps.active {
    background: url(../images/appsh.svg) no-repeat left center;
    color: #00aeef;
}
.menulinks .appcenter:hover, .appcenter.active {
    background: url(../images/appcenterh.svg) no-repeat left center;
    color: #00aeef;
}
.menulinks .settings:hover, .settings.active {
    background: url(../images/settingsh.svg) no-repeat left center;
    color: #00aeef;
}
.menuoff {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    width: 30%;
    text-align: right;
}
.menuoff .hlink {
    /*padding: 2px 32px 2px 0;*/
    padding: 0;
    text-align: left;
    font-size: 15px;
    line-height: 12px;
    display: inline-block;
    vertical-align: top;
}
.menuoff .logout {
    background: url(../images/logout.svg) no-repeat right center;
}
.menuoff .shutdown {
    background: url(../images/shutdown.svg) no-repeat right center;
}
.menuoff .logout:hover, .logout.active {
    background: url(../images/logouth.svg) no-repeat right center;
    color: #00aeef;
}
.menuoff .shutdown:hover, .shutdown.active {
    background: url(../images/shutdownh.svg) no-repeat right center;
    color: #00aeef;
}
.menuoff .shutdown:focus {
    background: url(../images/shutdownh.svg) no-repeat right center;
    color: #00aeef;
}
.dropdowncontainer {
    padding-top: 0!important;
    padding-bottom: 0!important;
    position: relative;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    margin: 14px 0 0;
    z-index: 5;
}
.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
.button_blue {
    line-height: 44px;
    width: 100%;
    border: 1px solid transparent;
    background: #00aeef;
    padding: 2px 0 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    display: inline-block;
    border-radius: 34px;
}
.button_blue:hover {
    background: #64bc46;
    color: #fff;
}
.menubutton {
    position: absolute;
    border: none;
    width: 34px;
    height: 27px;
    cursor: pointer;
    text-indent: -9999px;
    right: 4%;
    top: 50%;
    margin-top: -13px;
    -webkit-transition: .5s ease-out-in-out;
    -moz-transition: .5s ease-out-in-out;
    -o-transition: .5s ease-out-in-out;
    transition: .5s ease-out-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.menubutton span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 34px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-out-in-out;
    -moz-transition: .25s ease-out-in-out;
    -o-transition: .25s ease-out-in-out;
    transition: .25s ease-out-in-out;
}
.menubutton span:nth-child(1) {
    top: 0;
}
.menubutton span:nth-child(2), .menubutton span:nth-child(3) {
    top: 11px;
}
.menubutton span:nth-child(4) {
    top: 22px;
}
.menubutton.menuopen span:nth-child(1) {
    top: 11px;
    width: 0;
    left: 50%}
.menubutton.menuopen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menubutton.menuopen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.menubutton.menuopen span:nth-child(4) {
    top: 11px;
    width: 0;
    left: 50%}
.navi {
    width: 100%;
    background: #00aeef;
    top: 90px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    z-index: 22;
    overflow: hidden;
}
.menucolor2 {
    background: #838588;
}
.naviopen {
    opacity: 1;
    visibility: visible;
}
.navi a {
    display: block;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
}
.navi a:hover {
    background: #64bc46;
}
.block1 {
    padding: 50px 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    text-align: center;
}
.block1 h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
}
.block1 h2 {
    font-size: 26px;
    text-align: center;
    margin: 24px 0;
    color: #52575b;
}
.bh2 {
    margin: 0px 0px 24px!important;
}
.formblock {
    display: block;
    max-width: 400px;
    min-width: 290px;
    margin: 0 auto;
    text-align: left;
}

.nameinput {
    height: 50px;
}

.passinput {
    height: 50px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0 50px 0 20px;
    border-radius: 40px;
    border: 1px solid #dcdee0;
    margin-bottom: 10px;
    background-color: #fff!important;
    background-size: 14px 14px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
}

.domain {
    width: 70%!important;
    margin-right: 2%
}

input[type="text"]:focus, input[type="password"]:focus {
    background-position: 115% center!important;
    border-color: #03aff0;
}
input.error {
    border-color: #e94141;
}
.errortext {
    background: #ffe4e6;
    display: block;
    padding: 15px;
    border-radius: 41px;
    margin: -2px 0 10px;
}
input:disabled {
    background: #d5d8da!important;
    color: #222!important;
    cursor: not-allowed!important;
    opacity: .5;
}
.alert90 {
    width: 90%;
    margin: -18px auto 8px;
    padding: 16px 15px 7px!important;
    font-size: 14px;
}
.nameinput {
    background: url(../images/nameinput.svg) no-repeat 95% center;
}
.passinput {
    background: url(../images/passinput.svg) no-repeat 95% center;
}
.emailinput {
    background: url(../images/emailinput.svg) no-repeat 95% center;
}
.buttonblue {
    color: #fff;
    background: #03aff0;
    line-height: 50px;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    display: inline-block;
    font-size: 16px;
}
.buttonblue:hover {
    background: #02a0dc;
}
.buttonred {
    color: #fff;
    background: Tomato;
    line-height: 50px;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    display: inline-block;
    font-size: 16px;
}
.buttonred:hover {
    background: Tomato;
}
.buttonred:disabled {
    background: #d5d8da;
    color: #222;
    cursor: not-allowed;
}
.buttongreen {
    color: #fff;
    background: #64bc46;
    line-height: 50px;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    display: inline-block;
    font-size: 16px;
}
.buttongreen:hover {
    background: #36ad40;
}
.buttongreen:disabled {
    background: #d5d8da;
    color: #222;
    cursor: not-allowed;
}
.buttongrey {
    color: #fff;
    background: #404750;
    line-height: 50px;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    display: inline-block;
    font-size: 16px;
}
.buttonlight {
    color: #292b30;
    background: #c6cbce;
    line-height: 50px;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    display: inline-block;
    font-size: 16px;
}
.buttongrey:hover {
    background: #2e3c4e;
}
.buttonblack {
    color: #fff;
    background: #2d353f;
    line-height: 50px;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    display: inline-block;
    font-size: 16px;
}
.buttonblack:hover {
    background: #202a37;
}
.bwidth {
    width: auto;
    padding: 0 30px;
}
.smbutton {
    line-height: 40px;
    padding: 0 15px;
    border: inherit;
}
.col2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-width: 280px;
}
.errorbg {
    background: url(../images/error.svg) no-repeat center;
    background-size: contain;
    min-height: 400px;
}
.errordiv {
    text-align: left;
}
.errordiv h1 {
    text-align: left;
    margin: 80px 0 20px;
}
.errordiv h2 {
    text-align: left;
    margin-bottom: 40px;
}
.colapp {
    width: 115px;
    min-height: 185px;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px 25px;
    text-decoration: none !important;
}
.appcenterlist {
    margin-top: 25px;
}

.app-link {
    display: inline-block;
    text-decoration: none !important;

}
.setting-name {
    font-size: 20px;
    margin: 10px 0 2px;
    font-weight: 300;
    display: block;
}
.withline {
    border-bottom: 1px dashed #2d353f;
}
.colapp:hover .withline {
    border-bottom: 1px solid #2d353f;
}
.appblock {
    max-width: 1024px;
    margin: 0 auto;
}
.col30 {
    width: 90%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.col30 h1 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 10px;
}
.col30 img {
    border-radius: 20%;
    margin-bottom: 15px;
}
.appinfo {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.appinfo b {
    font-weight: 400;
}
.appimg {
    width: 115px;
    height: 115px;
    border-radius: 30px;
    vertical-align: top;
}
.col70 {
    width: auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.col70 h1 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 10px;
}
.buttonblock {
    margin-bottom: 20px;
}
.buttonblock button {
    margin: 20px 8px 8px 0;
    min-width: 120px;
}
.col70 .btext {
    font-size: 18px;
    text-align: justify;
}
.modal-title {
    font-size: 26px;
}
.bodymod {
    padding: 15px;
    font-size: 18px;
}
.settingsblock {
    max-width: 1024px;
    margin: 0 auto;
}
.settingsblock .col2 {
    min-width: 290px;
    margin: 0 auto;
    text-align: left;
}
h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.setline {
    margin-bottom: 15px;
}
.setline .span {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#txt_device_domain {
    font-size: 18px;
    color: #03aff0;
}
.spandiv {
    display: inline-block;
    position: relative;
}
.footerblock {
    border-top: 1px solid #bbbec1;
}
.copyrights {
    float: left;
    width: 400px;
    color: #64BC46;
    font-size: 14px;
    margin: 10px 0 0;
}
footer {
    vertical-align: middle;
    padding: 40px 0;
}
footer .links {
    float: right;
    margin: 8px 40px 0 0;
}
footer .links a {
    color: #3A3D44;
    margin: 0 5px;
    border-bottom: 1px dashed #3A3D44;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
}
footer .links a:hover {
    color: #3A3D44;
    border-bottom: 1px dashed transparent;
}
.contacts {
    float: right;
    text-align: right;
    margin: 0;
}
.link_mail {
    text-indent: -9999px;
    background: url(../images/email.svg) no-repeat center;
    width: 35px;
    height: 35px;
    display: inline-block;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
}
.link_mail:hover, .link_facebook:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.link_facebook {
    text-indent: -9999px;
    background: url(../images/facebook.svg) no-repeat center;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    display: inline-block;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
}
.feelink {
    color: #3A3D44;
    width: 180px;
    margin: 10px auto 0;
    display: block;
    font-size: 14px;
    float: left;
}
.feelink font {
    border-bottom: 1px dashed #abafb9;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
}
.feelink:hover font {
    color: #ed3738;
    border-bottom-color: transparent;
}
.loadingblock {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(62, 69, 78, 0.7);
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-align: center;
    display: table;
    z-index: 10;
}
.loadingblock .spanloading {
    vertical-align: middle;
    display: table-cell;
    font-size: 26px;
    height: 30px;
    width: 100%;
    color: white;
    position: relative;
}
.loadingblock .switchloading {
    vertical-align: baseline;
    margin-right: 14px;
}
@media (max-width:320px) {
    header {
        text-align: left;
        width: 94%}
    .block1 {
        padding: 40px 0;
    }
    .colapp {
        width: 115px;
        margin: 0 15px 15px;
    }
   
    .buttonblock button {
        min-width: 90px;
    }
}
@media (min-width:320px) and (max-width:400px) {
    header {
        width: 94%;
        text-align: left;
    }
    .block1 {
        padding: 40px 0;
    }
    .colapp {
        width: 115px;
        margin: 0 15px 15px;
    }
    .buttonblock button {
        min-width: 90px;
    }
}
@media (min-width:400px) and (max-width:480px) {
    header {
        width: 94%;
        text-align: left;
    }
    .block1 {
        padding: 40px 0;
    }
    .colapp {
        width: 115px;
        margin: 0 15px 15px;
    }
  
    .buttonblock button {
        min-width: 90px;
    }
}
@media (min-width:480px) and (max-width:550px) {
    .block1 {
        padding: 40px 0;
    }
    .buttonblock button {
        min-width: 90px;
    }
}
@media (max-width: 549px) {
    footer {
        width: 90%}
    .copyrights, footer .links {
        float: none;
        width: 80%!important;
        margin: 20px auto;
    }
    .menulinks, .menuoff {
        display: none;
    }
    .block1 {
        padding: 40px 0;
    }
    .block1 h1 {
        font-size: 45px;
    }
    .col30 {
        margin-right: 0;
        text-align: left;
        margin-bottom: 2%
    }
    .col30 h1 {
        font-size: 32px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .buttonblock button {
        line-height: 40px;
        padding: 0 18px;
        margin: 20px 3px 4px;
        font-size: 14px;
    }
    .buttonblock {
        margin-bottom: 10px;
    }
    .btext {
        font-size: 16px!important;
    }
    .settingsblock .col2 {
        width: 70%;
        margin: 0 auto;
    }
    .buttonblock button {
        min-width: 90px;
    }
}
@media (min-width: 550px) and (max-width: 750px) {
    footer {
        width: 90%}
    .menulinks, .menuoff {
        display: none;
    }
    .block1 {
        padding: 40px 0;
    }
    .col30 {
        margin-right: 2%
    }
    .buttonblock button {
        line-height: 40px;
        padding: 0 20px;
        margin: 20px 4px;
    }
    .settingsblock .col2 {
        width: 70%;
        margin: 0 auto;
    }
}
@media (min-width: 750px) and (max-width: 850px) {
    .menulinks, .menuoff {
        display: none;
    }
}
@media (min-width: 750px) and (max-width: 1024px) {
    header .hlink {
        margin: 0 0 0 2%;
        font-size: 13px!important;
    }
    footer {
        width: 90%;
        margin: 0 auto;
    }
    footer .copyrights {
        width: 330px;
    }
    footer .links {
        margin: 5px 20px 0 0;
    }
    .contacts {
        margin-top: 20px auto 0;
    }
    .feelink {
        width: 175px;
    }
    .col30 {
        margin-right: 2%
    }
}
@media (max-width: 850px) {
    footer .copyrights {
        margin: 20px auto;
        float: none;
        text-align: center;
    }
    footer .links {
        margin: 20px auto;
        float: none;
        text-align: center;
    }
    footer .feelink {
        margin: 0 auto 20px;
        float: none;
        text-align: center;
    }
    footer .contacts {
        float: none;
        margin-top: 20px auto;
        text-align: center;
    }
    .menulinks, .menuoff {
        display: none;
    }
    header {
        padding: 10px 0;
    }
    .logo {
        min-width: 200px;
    }
    .block1 {
        width: 95%}
    .errorbg {
        background: url(../images/error.svg) no-repeat center;
        background-size: contain;
        min-height: 200px;
    }
    .errordiv {
        text-align: center;
    }
    .errordiv h1 {
        text-align: center;
        margin: 20px 0;
    }
    .errordiv h2 {
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (min-width: 851px) and (max-width: 1024px) {
    .menubutton, .navi {
        display: none;
    }
    header {
        width: 98%
    }
}
@media (min-width: 1000px) and (max-width: 1300px) {
    footer {
        width: 90%
    }
    .menubutton, .navi {
        display: none;
    }
    header {
        width: 95%
    }
}
@media (min-width:1299px) {
    .menubutton, .navi {
        display: none;
    }
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #64bc46 !important;
}

.switchloading {
	 vertical-align:middle;
}
.opacity-invisible {
	 opacity:0;
}
.opacity-visible {
	 opacity:1!important;
}
