include version README.md LICENSE
recursive-include bin *
recursive-include syncloud *
recursive-include test *
recursive-include config *
recursive-include apache *
recursive-include www *

global-exclude *.pyc
global-exclude .gitignore
global-exclude .travis.yml

