/*@media (max-width: @screen-xs) {*/
  /*body{font-size: 10px;}*/
/*}*/
/**/
/*@media (max-width: @screen-sm) {*/
  /*body{font-size: 14px;}*/
/*}*/
/*body {*/
    /*font-size: 24px*/
/*}*/

.clickable {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.form-horizontal {
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
}

.form-horizontal label.control-label {
  padding-bottom: 10px;
}

.form-horizontal h2 {
  text-align: center;
}

.form-horizontal .help-block {
  padding-left: 5px;
}

.form-horizontal .button-block {
  text-align: center;
  padding: 10px;
}
